
<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <img src="" />
</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">
          <li class="nav-item active">
            <a class="nav-link" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Add list</a>
          </li>
          <%# <li class="nav-item dropdown">
            <img class="avatar dropdown-toggle" id="navbarDropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false" src="https://kitt.lewagon.com/placeholder/users/ssaunier" />
            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="#">Action</a>
              <a class="dropdown-item" href="#">Another action</a>
            </div>
          </li> %>
          <!--li class="nav-item"-->
          <!--/li-->
      </ul>
    </div>
  </div>
</div>

<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://media.istockphoto.com/photos/empty-cinema-screen-with-audience-picture-id453554783?k=20&m=453554783&s=612x612&w=0&h=SWzx0yaI4h_QFnOF-GI5yDHyZyQdjPzen3mXyx7ddbY=);">
  <div class="container">
    <h1>Listomovies!</h1>
    <p>Create your own favorite movies lists!</p>
    <a class="btn btn-flat" <%= link_to "Create your list now!", new_list_path %>> </a>
  </div>
</div>

<div class=" mt-5">
  <div class="d-flex justify-content-around p-3">
  <% @lists.each do |list| %>
    <div class="card"  style="width: 18rem;">
      <%= cl_image_tag list.photo.key, class:"card-img-top", alt: list.name,  crop: :fill %>
      <div class="card-body">
        <p class="card-text"><%= list.name %></p>
      </div>
        <%= link_to "Open list", list_path(list), class:"btn btn-flat" %>
    </div>
  <% end %>
  </div>

</div>
